{% extends "base.html" %}
{% from "_helpers.html" import render_field, render_fields %}
{% block title %}New Comment{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<div class="user-nav">
        		<h2 class="form-settings-header">New Comment</h2>
			</div>
			<form method="post">
				{{ form.csrf_token }}
	        	<div class="card">
					<div class="card-header" role="tab" id="headingOne">
						<h5 class="mb-0">Comment Information</h5>
					</div>
					<div class="card-block">
						{{ render_field(form.rental_id, class='form-control') }}
						{{ render_field(form.title, class='form-control') }}
						{{ render_field(form.text, rows=10, class='form-control') }}
						{{ render_field(form.rating, class='form-control') }}
					</div>
				</div>
				<div class="card">
					<div class="card-block">
						<div class="form-group row">
							<div class="offset-sm-2 col-sm-10">
								<input type="submit" value="Submit" class="btn btn-primary">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
