{% extends "base.html" %}
{% from "_helpers.html" import render_field, render_fields %}
{% block title %}Pick-up{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<div class="user-nav">
	        	<h2 class="form-settings-header">Pick-up</h2>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="headingOne">
					<h5 class="mb-0">Reservation Information</h5>
				</div>
				<div class="card-block">
					<div class="form-group row">
						<div class="col-sm-2 col-form-label">Car</div>
						<div class="col-sm-10">
							<input class="form-control" type="text" value="{{ rental.car.year }} {{ rental.car.make }} {{ rental.car.model }}" disabled>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 col-form-label">Pick-up</div>
						<div class="col-sm-10">
							<input class="form-control" type="text" value="{{ rental.pickup }}" disabled>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 col-form-label">Drop-off</div>
						<div class="col-sm-10">
							<input class="form-control" type="text" value="{{ rental.dropoff }}" disabled>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 col-form-label">Access Code</div>
						<div class="col-sm-10">
							<input class="form-control" type="text" value="{{ rental.code }}" disabled>
						</div>
					</div>
				</div>
			</div>
			<form method="post">
				{{ form.csrf_token }}
	        	<div class="card">
					<div class="card-header" role="tab" id="headingOne">
						<h5 class="mb-0">Pick-up Information</h5>
					</div>
					<div class="card-block">
						{{ render_field(form.odometer, class='form-control') }}
						{{ render_field(form.status, default=0, class='form-control') }}
					</div>
				</div>
				<div class="card">
					<div class="card-block">
						{{ render_field(form.confirm, class='form-check-input') }}
					</div>
				</div>
				<div class="card">
					<div class="card-block">
						<div class="form-group row">
							<div class="offset-sm-2 col-sm-10">
								<input type="submit" value="Submit" class="btn btn-primary">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
