{% macro render_field(field) %}
<div class="form-group row{% if field.errors %} has-danger{% endif %}">
	{{ field.label(class='col-sm-2 col-form-label') }}
	<div class="col-sm-10">
		{% if field.type == 'BooleanField' %}
		<div class="form-check col-form-label">
			<label class="form-check-label">
			{{ field(**kwargs)|safe }}
			{% if field.description %}{{ field.description|safe }}{% endif %}
			</label>
		</div>
		{% if field.errors %}<div class="form-control-feedback">{{ field.errors[0] }}</div>{% endif %}
		{% else %}
		{{ field(placeholder=field.label.text, **kwargs)|safe }}
		{% if field.errors %}<div class="form-control-feedback">{{ field.errors[0] }}</div>{% endif %}
		{% if field.description %}<p id="{{ field.id }}_helptext" class="form-text text-muted">{{ field.description }}</p>{% endif %}
		{% endif %}
	</div>
</div>
{% endmacro %}

{% macro render_fields(label, field1, field2) %}
<div class="form-group row{% if field1.errors or field2.errors %} has-danger{% endif %}">
	<label for="{{ field1.id }}" class="col-sm-2 col-form-label">{{ label }}</label>
	<div class="col-sm-10">
		<div class="form-inline form-inline-2">
			{{ field1(placeholder=field1.label.text, **kwargs)|safe }}
			{{ field2(placeholder=field2.label.text, **kwargs)|safe }}
		</div>
		{% if field1.errors or field2.errors %}<div class="form-control-feedback">{{ (field1.errors + field2.errors)[0] }}</div>{% endif %}
		{% if field1.description %}<p id="{{ field1.id }}_helptext" class="form-text text-muted">{{ field1.description }}</p>{% endif %}
	</div>
</div>
{% endmacro %}