{% extends "base.html" %}
{% block title %}Reservations{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<div class="user-nav">
	        	<h2 class="form-settings-header">Locations</h2>
			</div>
			<div class="user-content">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>Location</th>
									<th>Spaces</th>
								</tr>
							</thead>
							<tbody>
								{% if locations | length == 0 %}
								<tr>
									<td scope="row" colspan="5" class="span-row">No results.</td>
								</tr>
								{% else %}
								{% for location in locations %}
								<tr>
									<td>{{ location.address }}, {{ location.city }}, {{ location.province }}</td>
									<td>{{ location.spaces }}</td>
								</tr>
								{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
